@model IEnumerable<Contracts.Models.WordModel>

@{
    ViewData["Title"] = "DBView";
}

<h1>DBView</h1>


    <form method="get" asp-action="DbView">
        <p>
        <input type="search" placeholder="Search the word ..." value="@ViewData["Getword"]" name="WordSearch" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="DbView">Get word</a>
        </p>
    </form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Word)
            </th>
            <th>
                <a asp-action="DbView" asp-route-sortingemp = "@ViewData["Pronoun"]">@Html.DisplayNameFor(model => model.Pronoun)</a>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Word)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pronoun)
            </td>
        </tr>
}
    </tbody>
</table>
